# https://editorconfig.org
# https://github.com/editorconfig/editorconfig/wiki/EditorConfig-Properties

root = true

# angular/.editorconfig
# react/.editorconfig
# vue/.editorconfig
[*]
charset = utf-8
indent_style = tab
indent_size = 2
end_of_line = lf                # lf, cr, crlf
insert_final_newline = true     # 空行结尾
trim_trailing_whitespace = true # 删除换行符之前的空格字符
